<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kayden Ireland">

    <title>Kayden Ireland</title>
    <link rel="stylesheet" href="{{root}}styles/style.css">
</head>
<body>
    <canvas id="bg"></canvas>
    <script type="module" src="{{root}}js/background.js"></script>

    <div id="page-content">

        {{header}}

        <main id="main">

            <table class="table-of-contents">
                <tbody>
                    {{articles}}
                </tbody>
            </table>


        </main>

        {{footer}}

    </div>
</body>
</html>