:root {
    --accent-color: #1d4a13;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #444;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a86;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;

    width: 100%;
    height: 100%;
}

#page-content {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 20px #0007;
    font-family: sans-serif;
    color: #444;
    text-align: justify;
    line-height: 24px;
    z-index: 1;
}

#bg {
    position: fixed;
    z-index: -1;
}

#header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.title-link {
    grid-column: 1;
    grid-row: 1;

    font-family: monospace;
    font-size: 26px;
    font-weight: 700;
    color: #444;
}

#top-nav {
    grid-column: 2;
    grid-row: 1;

    justify-content: flex-end;
}

#top-nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-link {
    font-family: monospace;
    font-size: 20px;
    color: #888888;
}

.header-description {
    grid-column: 1 / -1;
    grid-row: 2;

    padding: 10px 0;
    border-top: 1px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;

    font-family: monospace;
    font-size: 14px;
    line-height: normal;
    color: #888;
}

#page-title {
    text-align: center;

    font-size: 24px;
    font-family: monospace;
    font-weight: 700;
}

#main {
    padding-bottom: 10px;
}

#footer {
    border-top: 1px solid #9a9a9a;
    margin: 0;
}

#footer-nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
    padding: 5px;
    margin: 0;
}

#footer ul {
    list-style: none;
}

.footer-link {
    font-family: monospace;
    font-size: 20px;
    color: #888;
}

.footer-link:hover {
    color: #444;
}

.footer-image {
    width: 16px;
    height: 16px;
    opacity: 50%;
    transform: translate(0px, 4px) scale(1.5);
}

.footer-image:hover {
    opacity: 75%;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

table {
    color: inherit;
    text-align: inherit;
    line-height: inherit;
}

.table-of-contents {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.table-of-contents td {
    vertical-align: text-top;
    padding-top: 2px;
    padding-bottom: 2px;
}


.table-of-contents tr:nth-child(even) {
    background-color: #fafafa;
}

.post-date {
    font-size: 20px;
    font-family: monospace;
    margin-right: 40px;
    color: #888;
    white-space: pre;
}

.post-link {
    font-size: 20px;
    font-family: monospace;
    color: var(--accent-color);
}

h1 {
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    margin-top: 48px;
}

code {
    font-family: monospace;
    color: #cc5e91;
}

/* Inline code */
.article-content p code,
.article-content li code {
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #ddd;
}

a code {
    color: var(--accent-color);
}

/* Code blocks */
.code-block {
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #0007;
    width: 75%;
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 12px;

    font-family: monospace;
    font-size: 14px;
}

.code-language {
    font-weight: bold;
}

.copy-button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;
    border: none;
    background: none;

    cursor: pointer;
}

.copy-button svg {
    width: 16px;
    height: 16px;
}

.check-icon {
    display: none;
}

.copy-button.copied .copy-icon {
    display: none;
}

.copy-button.copied .check-icon {
    display: block;
}

.code-block pre {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.code-block pre code {
    display: block;

    padding: 15px;

    font-family: monospace;
    font-size: 14px;
    line-height: 16px;

    overflow-x: auto;
}