<div id="footer">
            <ul id="footer-nav">
                <li>
                    <a href="mailto:kaydenireland@aol.com" class="footer-link">
                        <img class="footer-image" src="{{root}}media/email.svg" alt="email">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kaydenireland/" class="footer-link">
                        <img class="footer-image" src="{{root}}media/linkedin.svg" alt="svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.github.com/kaydenireland" class="footer-link">
                        <img class="footer-image" src="{{root}}media/github.svg" alt="svg">
                    </a>
                </li>
            </ul>
        </div>