<header id="header">
            <a href="{{root}}about.html" class="title-link">Kayden Ireland</a>
            <nav id="top-nav" >
                <ul>
                    <li>
                        <a class="header-link" href="{{root}}articles.html">Articles</a>
                    </li>
                    <li>
                        <a class="header-link" href="{{root}}projects.html">Projects</a>
                    </li>
                    <li>
                        <a class="header-link" href="{{root}}photos.html">Photos</a>
                    </li>
                    <li>
                        <a class="header-link" href="{{root}}about.html">About</a>
                    </li>
                </ul>
            </nav>
            <div class="header-description">
                /* [ Software, Programming Languages, API, Game Development ] */
            </div>
        </header>