<header id="header">
    <a href="index.html" class="title-link">Kayden Ireland</a>
    <nav id="top-nav" >
        <ul>
            <li>
                <a class="header-link" href="index.html">Articles</a>
            </li>
            <li>
                <a class="header-link" href="index.html">Projects</a>
            </li>
            <li>
                <a class="header-link" href="index.html">Photos</a>
            </li>
            <li>
                <a class="header-link" href="index.html">About</a>
            </li>
        </ul>
    </nav>
    <div class="header-description">
        /* [ Software, Programming Languages, API, Game Development ] */
    </div>
</header>